@using ToDoApp.Models.Dtos
@model FilterDto

<form asp-controller="ToDo">
	<div class="row"
		<div class="col-md-4">
			<div class="mb-3">
				<div class="form-label">Category</div>
				<select name="categoryId" class="form-select" asp-items="@(new SelectList(Model.Categories, "Id", "Name", Model.CategoryId))"></select>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="mb-3">
			<div class="form-label">Status</div>
			<select name="statusId" class="form-select" asp-items="@(new SelectList(Model.Statuses, "Id", "Name", Model.StatusId))"></select>
		</div>
	</div>
</form>